body{
  background-color: rgb(56, 57, 57);
  color: white;
}
p {
  font-size: 32px;
}
.totalContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
    max-width: 400px;
    margin: 300px auto 0;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: rgb(39, 37, 37);
  }
  .input {
    width: 100%;
    padding:12px;
    margin-bottom:16px;
    font-size: 16px
  }
  .result {
    margin-bottom: 16px;
    font-size: 18px;
  }
  button{
    padding: 10px 20px;
    font-size: 16px;
    cursor:  pointer;
  
  }
  .error {
    color: red;
  }